* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


.container{
    width: 750px;
    height: 860px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: none;
    padding: 30px 70px;
    align-content: center;
}

.container h1 {
    color: darkorange;
    margin-top: none;
    left: 50%;
}

.container label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: large;
}

.container input {
    width: 50%;
    margin-bottom: 1px;
    margin-top: 10px;
}

.container textarea {
    width: 50%;
    height: 50%;
    margin-bottom: 1px;
}

.container select {
    width: 50%;
    margin-bottom: 1px;
}

.container input[ type="text"],
input[ type="file"],
input[ type="number"],
input[ type="email"],
input[ type="tel"]
{
    height: 35px;
    width: 50%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

select{
    height: 35px;
    width: 50%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.Submitbtn{
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    background: #6e0505;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
}

.Submitbtn:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}


label {
    width: 240px;
    display: inline-block;
}


